!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "stylesheets/main.css", :rel => "stylesheet"}

  %body

    %header.site-header{role: "banner"}
      .container
        %h1 Middleman Patterns Demo

    %main.main-content{role: "main"}
      .container
        = yield

    %footer.site-footer
      .container
        %ul
          %li
            %a{href: "http://bearded.com"}
              Made with love, by Bearded
          %li
            %a{href: "https://twitter.com/beardedstudio"}
              Twitter
